version: "3.8"
services:
    graft-hook:
        image: ghcr.io/skssmd/graft-hook:latest
        env_file:
            - ./env/graft-hook.env
        labels:
            - graft.mode=serverbuild
            - traefik.enable=true
            - traefik.http.routers.graft-hook.rule=Host(`graft-hook.docusup.com`)
            - traefik.http.routers.graft-hook.priority=1
            - traefik.http.routers.graft-hook.service=graft-hook-service
            - traefik.http.services.graft-hook-service.loadbalancer.server.port=3000
            - traefik.http.routers.graft-hook.entrypoints=websecure
            - traefik.http.routers.graft-hook.tls.certresolver=letsencrypt
        networks:
            - graft-public
        restart: always
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - /opt/graft:/opt/graft/
networks:
    graft-public:
        external: true
